table {
    font-family: verdana, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px solid #8C568A;
    text-align: left;
    padding: 10px;
    border-collapse: collapse;
    width: 100%;
  
}

tr:nth-child(even) {
    background-color: #daa3ee;
    width: 100%;
}